.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px 10px 15px;
}
.profil {
  display: flex;
  gap: 15px;
}

.avatar {
  border-radius: 50px;
  width: 55px;
}

.icon {
  display: flex;
  justify-content: space-between;
}
