.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-right: 1px rgb(255, 255, 255, 0.5) solid;
  border-left: 1px rgb(255, 255, 255, 0.5) solid;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid gray;
  gap: 15px;
}

.textarea {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.textarea::placeholder {
  font-size: 25px;
  color: gray;
}

.infi {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 110px;
  padding-bottom: 40px;
}

.containerTweets {
  overflow-y: auto;
  scrollbar-color: transparent;
  scrollbar-width: thin;
}

.text {
  color: white;
}

.title {
  padding-left: 20px;
}

.btn {
  width: 80px;
  border-radius: 40px;
  height: 25px;
  border: none;
  background-color: rgb(29, 99, 211);
  color: white;
  font-weight: 700;
}
